@font-face {
    font-family: 'Frankie';
    src: url('Frankie.woff2') format('woff2'),
        url('Frankie.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

